.panel-menu {
  padding-top: 30px;
}

.panel-login {
  padding-top: 30px;
  height: 100vh;
  background: darken($gray,10%);
}

.panel-lostpass{
  border: 1px solid #cfdbe2;
}

.no-padding {
  padding : 0;
  padding-left: 15px;
  padding-right: 15px;
}

.thumb25 {
  width: 25px !important;
  height: 25px !important;
}

.thumb30 {
  max-width: 30px;
  max-height: 30px;
}

.thumb250 {
  width: 250px !important;
  height: 250px !important;
}

.tabel-data-custom {
  /*width: 1px;*/
  white-space: nowrap;
}

.modal95{
  width: 95%;
}

.no-margin{
  margin: 0 !important;
}

.nav > li > a:hover, .nav > li > a:focus{
  background-color: transparent !important;
}

.well{
  background-color: $putih;
}

footer{
  background-color: $putih;
}

.wrapper{
  background-color: $gray;
}

.form-group{
  .fa{
    padding: 10px;
  }
}

.btn-label{
  padding: 0;
  left: -12px;
}
